USE [PostDB]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[link] [nvarchar](750) NULL,
	[name] [nvarchar](800) NULL,
	[content] [varchar](8000) NULL,
	[description] [varchar](1000) NULL,
	[date] [varchar](25) NULL,
 CONSTRAINT [Informacion_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
